/yactionlint
/yactionlint.exe
/.testtimestamp
/.linttimestamp
/.bumptimestamp
/env.sh
/.github/yactionlint.yaml
/.github/yactionlint.yml
/yactionlint_fuzz-fuzz.zip
/corpus
/crashers
/man/yactionlint.1
/man/yactionlint.1.html
/playground-dist
/yactionlint-workflow-ast
/.git-hooks/.timestamp
/.idea
/coverage.out
/coverage.html
